xset r rate 190 30
xset m 8/1 2

xrdb -load ~/.Xresources &
emacs --daemon &
udiskie &

case $1 in
  *i3*)
    export GDK_SCALE=1.3
    sleep 0.1
    nitrogen --restore &
    dunst &
    xmodmap ~/.Xmodmap-i3 &
    # picom -b &
    ;;
esac
